<html>
  <body>
    <link rel="stylesheet" href="/style.css">

    <div class=main>
      <div class=main_title>
        <span>
          <%= fills.name %>
        </span>
      </div>

      <div class=links>
        <% fills.links.forEach(l => { %>
          <a href="<%= l[1] %>">
          <%= l[0] %>
        </a>
        &nbsp;
        <% }); %>
      </div>

    <div class="posts">
      <ul>
        <% posts.forEach(x => { %>
          <li class="posts-item"><a href=/post/<%= x %>><p><%= formatName(x) %></p></a></li>
        <% }); %>
      </ul>
    </div>

    <div class="info">
      <div class="centered">
        <h2><%= fills.title %></h2>
        <p><%= fills.description %></p>
      </div>
    </div>

    <div class="posttitle">
      TITLE&nbsp;
    </div>

  </body>
<html>
