<html>
  <body>
    <link rel="stylesheet" href="/style.css" />

    <div class="main">

      <!--  HEADER -->

      <div class="main_title">
        <span>
          <%= fills.name %>
        </span>
      </div>

      <div class="links">
        <% fills.links.forEach(l => { %>
        <a href="<%= l[1] %>">
          <%= l[0] %>
        </a>
        &nbsp; <% }); %>
      </div>

      <div class="site-content">
        <div class="content">
          <h1><%= fills.title %></h1>
          <p class="fills-description"><%= fills.description %></p>
        </div>

        <div class="side-bar">
          <div class="posts-title">
            POSTS&nbsp;
          </div>
          <ul>
            <% posts.forEach(x => { %>
              <li class="posts-item"><a href=/posts/<%= x %>><p><%= formatName(x) %></p></a></li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
